.my-list .am-list-item{
    border-bottom: 1px solid #ddd;
}

.error-msg{
    text-align: center;
    color:#f50;
    padding-bottom:10px;
    padding-top:10px;
    height:20px;

}
.fixd-header.am-navbar{
    position: fixed;
    top:0;
    width: 100%;
}
.fixd-footer{
    background-color: red;
}
.footer-header-bar .am-tab-bar{
    position: fixed;
    height: auto;
    bottom: 0;
    width: 100%;
}
.stick-footer{
    z-index:1;
    position: absolute;
    width: 100%;
    bottom: 0;
}
#chat-page  .chat-me .am-list-content{
    text-align: right;
    padding-right: 30px;
}
#chat-page  .chat-me .am-list-thumb{
    position: absolute;
    right: 0;
}
